body {
  font-family: "DungGeunMo";
}

input,
button,
textarea {
  font-family: "DungGeunMo";
}

input::file-selector-button {
  height: 30px;
  font-family: "DungGeunMo";
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
